<div class="posts-container">
    <% if (images.length !=0) { %>
        <% images.forEach(image=> { %>
            <div class="posts-card">
                <a href="/posts/<%- image.image_display_id %>">
                    <div class="posts-img">
                        <img src="<%= image.image_path %> " alt="<%= image.image_alt_text %>" />
                    </div>
                </a>
                <div class="post-interaction">
                    <img class="post-like-icon" src="/images/like_before.png" alt="like icon"><span
                        class="post-like-num">100</span>
                    <img class="post-comment-icon" src="/images/comments.png" alt="like icon"><span class="post-comm-num"><%= image.comment_count %></span>
                </div>
                <div class="posts-content">
                    <a class="posts-username" href="/users/<%= image.image_uploaded_by %>/posts"><span>@<%=
                                image.image_uploaded_by %></span></a>
                    <br>
                    <div class="posts-caption">
                        <span>
                            <%= image.image_caption %>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-spacer"></div>
            <% }); %>
                <% } else { %>
                    <div class="no-posts-container">
                        <div class="unknown-container">
                            <img class="sticker" src="/images/error_ramen.png" alt="unknown page sticker">
                            <p>Hmm, looks like no one has posted yet!</p>
                        </div>
                        <% } %>
                    </div>
</div>