<h1>POSTS PAGE EXISTS!!!!</h1>
      <span><%= img_title%></span>
      <br><span><%= caption %></span>
      <br><span><%= alt%></span>
      <br><span><%= image_name%></span>
    <img src="<%= image %> " alt="<%= image_name %>" />