<div class="posts-container">
    <div class="posts-card">
        <div class="posts-img">
            <img src="<%= image[0].image_path %> " alt="<%= image[0].image_alt_text %>" />
        </div>

        <div class="post-interaction">
            <img class="post-like-icon" src="/images/like_before.png" alt="like icon"><span
                class="post-like-num">100</span>
            <img class="post-comment-icon" src="/images/comments.png" alt="like icon"><span
                class="post-comm-num">98</span>
        </div>
        <div class="posts-content">
            <a class="posts-username" href="/users/<%= image[0].image_uploaded_by %>/posts"><span>@<%=
                        image[0].image_uploaded_by %></span></a>
            <br>
            <div class="posts-caption">
                <span>
                    <%= image[0].image_caption %>
                </span>
            </div>
        </div>
    </div>
    <div class="title2"><span>Comments</span></div>
    <div class="comments-container">
        <div class="comment-card">
            <a class="comment-username" href="/users/<%= image[0].image_uploaded_by %>/posts"><span>@<%=
                        image[0].image_uploaded_by %></span></a>
            <br>
            <div class="comment-caption">
                <span>
                    <%= image[0].image_caption %>
                </span>
            </div>
            <hr>
            <div class="comment-spacer"></div>
            <a class="comment-username" href="/users/<%= image[0].image_uploaded_by %>/posts"><span>@<%=
                        image[0].image_uploaded_by %></span></a>
            <br>
            <div class="comment-caption">
                <span>
                    <%= image[0].image_caption %>
                </span>
            </div>
            <hr>
            <div class="comment-spacer"></div>
        </div>
    </div>
    <form action="/comment" method="post" enctype="multipart/form-data">
        <textarea class="input-box" type="text" id="image_reply" name="caption"
            placeholder="Your comment goes here..."></textarea>
        <button class="primary-button" type="submit">Add Comment</button>
    </form>
</div>