<div class="posts-container">
    <% if(image !=null) { %>
        <div class="posts-card">
            <div class="posts-img">
                <img src="<%= image.image_path %> " alt="<%= image.image_alt_text %>" />
            </div>

            <div class="post-interaction">
                <form action="/like" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="post_id" value="<%= image.image_display_id %>">
                    <input type="hidden" name="type" value="1">
                    <% if(!liked_by_user) { %>
                        <button class="hidden-button" type="submit">
                            <img class="post-like-icon" src="/images/like_before.png" alt="like icon">
                        </button>
                        <% } else { %>
                            <button class="hidden-button" type="submit">
                                <img class="post-unlike-icon" src="/images/like_after.png" alt="like icon">
                            </button>
                            <% } %>
                </form>
                <span class="post-like-num">
                    <%= image.n_likes %>
                </span>
                <img class="post-comment-icon" src="/images/comments.png" alt="like icon"><span class="post-comm-num">
                    <%= image.n_comments %>
                </span>
                <span class="post-added-date">
                    <%= uploaded_on %>
                </span>
            </div>
            <div class="posts-content">
                <a class="posts-username" href="/users/<%= image.image_uploaded_by %>/posts"><span>@<%=
                            image.image_uploaded_by %></span></a>
                <br>
                <div class="posts-caption">
                    <span>
                        <%= image.image_caption %>
                    </span>
                </div>
            </div>
        </div>
        <% if(interactions.length==0) { %>
            <div class="comment-card">
                <span style="text-decoration: underline;">It's quite lonely here, isn't it? Like or add a
                    comment!</span>
                    <div class="comment-spacer"></div>
                    <div class="comment-spacer"></div>
            </div>
            <% } %>
                <div class="title2"><span>Comments</span></div>
                <% if (error_msg !='' ) { %>
                    <div class="error-message">
                        <%=error_msg %>
                    </div>
                    <br>
                    <% } %>
                        <div class="comments-container">
                            <% interactions.forEach(comment=> { %>
                                <% if (comment.interaction_text !=null) { %>
                                    <div class="comment-card">
                                        <a class="comment-username"
                                            href="/users/<%= comment.interaction_by %>/posts"><span>@<%=
                                                    comment.interaction_by %></span></a>
                                        <br>
                                        <div class="comment-caption">
                                            <span>
                                                <%= comment.interaction_text %>
                                            </span>
                                        </div>
                                        <hr>
                                        <div class="comment-spacer"></div>
                                    </div>
                                    <% } %>
                                        <% }); %>
                        </div>
                        <div class="comment-form-container">
                            <form action="/comment" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="post_id" value="<%= image.image_display_id %>">
                                <input type="hidden" name="type" value="2">
                                <textarea class="input-box" type="text" id="image_comment" name="comment"
                                    placeholder="Your comment goes here..."></textarea>
                                <button class="primary-button" type="submit">Add Comment</button>
                            </form>
                        </div>
                        <% } else { %>
                            <div class=" unknown-container">
                                <img class="sticker" src="/images/unavailable.png" alt="unknown page sticker">
                                <p>Why are you trying to access an image that doesn't exist?</p>
                                <p>Go back, pls</p>
                            </div>
                            <% } %>
</div>